html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* 
collor pallet 

columbia blue: #B8D8D8
dark cerulean: #1F487E
queen blue: #376996
spanish gray: #9A879D
brass #B29B37 

Colores accesibles

Yellow Orange #cc940e
Eggplant #562038

Fern #1f9a27
Black #1a1633

#972e32
#c8dd54

#e8e8e8
#5588a3
#145374
#00334e

*/
/* [title="Twitter"],
[title="Instagram"],
[title="Facebook"],
[title="Web personal de Juanjo Torres"],
[href="aficiones.html"] {
    display: none;
} */



/*version ftp*/
.menu>li:nth-child(3),
.nav2 a:nth-child(3),
footer a:nth-child(2),
footer a:nth-child(3),
footer a:nth-child(4),
footer a:nth-child(7),
footer a:nth-child(8)
{
  display: none;
}


body {
    background-color: #1f487e;
    font-family: sans-serif;
}

.container {
    max-width: 600px;
    background-color: #b8d8d8;
    margin: 0 auto;
    box-shadow: 0 0 5px 5px #33333390;
}
/* figure {
    height: 230px !important;
}
.effect-apollo {
    height: 350px !important;
} */
/* Navigation bar */

.nav {
    width: 100vw;
    background-color: #376996;
    position: fixed;
    top: 0;
    font-size: 0;
    z-index: 100;
    box-shadow: 0 0 5px 5px #33333390;
}

ul.menu {
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto;
}

.menu > li {
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 1rem;
}

.index .menu > li:first-child,
.curriculum .menu > li:nth-child(2),
.aficiones .menu > li:nth-child(3),
.contacto .menu > li:last-child {
    filter: grayscale(40%);
    background-color: #376996;
}

.menu > li a {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    text-decoration: none;
    padding: 15px 22px;
    display: inline-block;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.menu > li > a:hover {
    color: #562038;
    background-color: #cc940e;
}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.submenu > li {
    display: block;
}

.submenu {
    position: absolute;
    background-color: #972e32;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease-out;
    border-radius: 0 0 10px 10px;
    display: none;
}

.submenu li:last-child a:hover {
    border-radius: 0 0 10px 10px;
}

.submenu li a {
    color: #cc940e;
    padding: 15px;
    width: 100%;
}

.submenu li a:hover {
    color: #562038;
    background-color: #cc940e;
}

/* Enlaces de idiomas */

.box-langs {
    height: 42px;
    position: fixed;
    top: 0.5vh;
    right: 3vw;
    z-index: 101;
    font-size: 0;
}

.langs {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #e6e7e9;
    display: inline-block;
    font-size: 1rem;
    margin-left: 7px;
    text-align: center;
    line-height: 35px;
    font-size: 0.8rem;
    font-weight: 800;
    cursor: pointer;
    opacity: 0.5;
}

.cat,
.esp,
.eng {
    filter: grayscale(100%);
    color: #fff;
    box-shadow: 0 0 3px 3px #33333390;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    border: 1px solid #fff;
}

.es .esp {
    display: none;
}
.ca .cat {
    display: none;
}
.en .eng {
    display: none;
}


.cat {
    background-image: url("../img/cat.png");
    background-repeat: no-repeat;
    background-position: -10px -9px;
    background-size: 160%;
    filter: grayscale(100%);
}

.esp {
    background-image: url("../img/esp.png");
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
}

.eng {
    background-image: url("../img/eng.png");
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
}

.cat:hover,
.esp:hover,
.eng:hover {
    filter: grayscale(20%);
    color: #000;
    box-shadow: 0 0 3px 3px #0d136390;
    text-shadow: 0 0 8px rgba(221, 209, 209, 0.6);
}

/* Barra de navegación de la versión móvil */

.nav2 {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 16px;
    background-color: transparent;
    width: fit-content;
    width: -moz-fit-content;
    position: fixed;
    left: -11px;
    top: 2vw;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border-radius: 10px 10px;
    z-index: 100;
    padding: 10px 5px 1px 10px;
    display: none;
}

a.btn {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px 20px 10px 10px;
    text-decoration: none;
    letter-spacing: 2px;
    margin-left: 0;
    color: #fff;
    width: fit-content;
    width: -moz-fit-content;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
    line-height: 26px;
    border-radius: 0 10px 10px 0;
    font-size: 1.5rem;
}

.nav2 a:first-child {
    padding-right: 12px;
}

.nav2 a:nth-child(3) {
    padding-right: 23px;
}
.nav2 a:nth-child(4) {
    padding-right: 15px;
}
.nav2 a:last-child {
    padding-right: 19px;
}

.index .nav2 a:first-child {
    color: #562038;
}

.curriculum .nav2 a:nth-child(2) {
    color: #562038;
}

.aficiones .nav2 a:nth-child(3) {
    color: #562038;
}

.contacto .nav2 a:last-child {
    color: #562038;
}

a.btn:hover {
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.4);
    border-color: #fff;
    padding-left: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    letter-spacing: 4px;
    font-size: 1.3rem;
    text-shadow: 0 3px 2px #fcba68;
}

a.btn::after {
    content: "";
    display: block;
    width: 10px;
    height: 100px;
    background-color: #fcba68;
    position: absolute;
    top: 0;
    left: -10px;
    transition: left 0.5s;
}

a.btn:hover::after {
    left: 0;
}

/* Back top button */

.button {
    display:block;
    width: 44px;
    /* width: -moz-fit-content; */
    padding: 10px;
    position: fixed;
    bottom: 2vh;
    right: 5vw;
    border-radius: 50%;
    text-transform: uppercase;
    color: #1f487e;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: sans-serif;
    text-align: center;
    background-color: #e6ddce;
    transition: background-color 0.5s ease-in 0.5s;
    opacity: 0.7;
}

.button:hover {
    background-color: #b8d8d8;
    /* color: #a00013; */
    color: #cc940e;
    animation: bounce 1.5s ease-in infinite;
}

/* Estructura */

.index header {
    padding: 80px 10px;
    height: 500px;
    width: 100%;
    margin: 0 auto;
}
.index h1+h2{
    padding-top: 1rem;
}
.index section {
    margin: 0px 0;
}

.index article {
    clear: both;
    padding: 50px 10% 50px 10%;
    text-align: justify;
}

.index article p {
    padding: 1rem 0;
}

footer {
    clear: both;
    padding: 50px 50px 15px 50px;
    text-align: center;
}

.curriculum header,
.aficiones header,
.contacto header {
    padding: 70px 50px 50px 50px;
    height: 250px;
    opacity: 0.9;
}

.curriculum header img {
    float: left;
}

.curriculum h1,
.curriculum h2 {
    display: block;

    margin: 1.5rem 0 1.5rem 33%;
}

.curriculum h2 {
    margin: 0.7rem 0 0 33%;
}

.curriculum section,
.curriculum article,
.curriculum aside {
    padding: 30px 10% 30px 10%;
}

.curriculum aside div p {
    text-align: center;
    line-height: 2rem;
    font-size: 0.7rem;
}

.curriculum aside div p:first-child {
    margin: 0 auto;
    font-size: 3rem;
}

.curriculum article ul {
    padding-bottom: 2rem;
    line-height: 2rem;
}

.aficiones article {
    padding: 30px 10% 30px 10%;
}

.aficiones article:last-child div {
    margin: 0 auto;
    width: fit-content;
    width: -moz-fit-content;
    margin-top: 2rem;
}

.aficiones dt {
    padding: 1.5rem 0;
}

.aficiones dd {
    padding: 1.5rem 0;
}

#series li {
    padding: 1.5rem 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#futbol p {
    padding: 1rem 0;
    line-height: 1.4rem;
}

.aficiones h2 {
    padding-top: 2rem;
}

#musica iframe {
    border-radius: 10px 10px;
    width: 100%;
    height: 380px;
    box-shadow: 0 0 3px 3px #33333390;
}

#videojuegos iframe {
    display: block;
    width: 90%;
    height: 240px;
    margin: 0 auto;
    box-shadow: 0 0 3px 3px #33333390;
}

.contacto section {
    padding: 40px 10px;
}

.confirmacion main p {
    padding: 100px 10% 100px 10%;
}

/* Tipografía */

.index h1,
.index h2 {
    text-align: center;
}

.index header h1 {
    font-size: 3.5rem;
    line-height: 4rem;
    font-family: "Poiret One","Gugi";
    font-weight: 800;
}

.index header h2 {
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-family: "Montserrat","Passion One";
    /* font-weight: 800; */
}

.index article,
.index footer {
    font-family: "Open Sans", sans-serif;
    line-height: 1.4rem;
}

footer a {
    text-decoration: none;
    color: #1f487e;
    font-size: 2rem;
    /* margin-left: 2rem;
    margin-right: 2rem; */
}

.curriculum h1 {
    font-size: 2rem;
    font-weight: 600;
    font-family: "Gugi","Neucha";
    letter-spacing: 2px;
}

.curriculum h2 {
    font-size: 1.2rem;
    font-family: "Neucha";
}

.curriculum section {
    line-height: 1.3rem;
}

.curriculum h3 {
    font-size: 2rem;
    padding: 2.5rem 0;
    font-weight: bold;
    line-height: 1.8rem;
}

.curriculum dt:nth-of-type(2n + 1) {
    font-style: oblique;
    font-size: 1.1rem;
    padding-bottom: 10px;
}

.curriculum dt:nth-of-type(2n) {
    font-weight: 600;
    font-size: 1.1rem;
    padding-bottom: 10px;
}

.curriculum .container,
.aficiones .container,
.contacto .container {
    font-family: "Open Sans", sans-serif;
}

#work dd {
    padding-bottom: 30px;
    text-align: justify;
    text-indent: 3rem;
}

#educacion dt:nth-of-type(2n + 1) {
    padding-top: 2rem;
}

#educacion dt:first-of-type {
    padding-top: 0.2rem;
}

#educacion dd {
    line-height: 1.6rem;
}

dd + dd {
    font-size: 0.85rem;
    padding-bottom: 2rem;
}

.idiomas {
    font-size: 1.1rem;
    text-indent: 2rem;
}

.idiomas p {
    text-indent: 4rem !important;
    font-size: 1.5rem;
    color: #225a80;
}

.idiomas p:nth-of-type(odd) {
    padding-top: 1rem;
}

.idiomas p:nth-of-type(even) {
    font-size: 0.8rem;
    font-style: oblique;
    font-weight: bold;
}

.aficiones dt {
    font-size: 1.4rem;
    font-weight: bold;
    padding-top: 3rem;
}

.aficiones dd,
#videojuegos p {
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: justify;
}

.aficiones h1 {
    font-family: "Black Ops One", cursive;
    font-size: 2rem;
    padding: 2.5rem 0;
}

.aficiones h2 {
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
}

.contacto h1 {
    padding-top: 110px;
    font-size: 2rem;
    font-weight: 600;
    font-family: "Dancing Script";
}

figcaption {
    text-align: center;
    font-size: 0.9rem;
}

em {
    font-style: oblique;
}

strong {
    font-weight: bold;
}

/* Estética */

footer {
    letter-spacing: 2.5rem;
    line-height: 3rem !important;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer p {
    padding-top: 40px;
    letter-spacing: 0;
    font-size: 0.8rem;
    width: 100%;
}

footer p span {
    font-size: 1.2rem;
    vertical-align: -3px;
}

@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    40%,
    43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -8px, 0);
      transform: translate3d(0, -8px, 0);
    }
  
    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -2px, 0);
      transform: translate3d(0, -2px, 0);
    }
  }
  
  .bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }

footer a:hover {
    color: #562038;
    display: block;
    /* color: #cc940e; */
    animation: bounce .8s ease-in;
}

.index header {
    color: #fff;
    background-image: url(../img/web-design.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    transition: all 1s;
    border-bottom: 10px solid #376996;
    /* cursor: pointer; */
}

.index h1,
.index h2 {
    opacity: 1 !important;
}

.index header:hover {
    opacity: 0.9;
    background-position: 0 20px;
}

.curriculum header {
    background-color: #562038;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0.2),
            #3d383890,
            rgba(12, 12, 12, 0.8)), url(../img/geometric.jpg) no-repeat;
    background-size: cover;
}

.curriculum header img {
    border-radius: 50%;
    border: 5px solid #1f487e;
    width: 140px;
    filter: grayscale(60%);
    transition: 1s linear;
}

.curriculum header img:hover {
    filter: grayscale(30%);
}

.curriculum h1,
.curriculum h2,
.contacto h1 {
    color: #fff;
}

.curriculum section:last-of-type {
    background-color: lightgrey;
    background: linear-gradient(rgba(34, 76, 143, 0.9), rgba(9, 28, 61, 0.7)),
        url(../img/upc-2.jpg) no-repeat fixed;
    background-size: cover;
    color: #fff;
}

.curriculum article {
    background-color: linen;
}

.curriculum aside {
    background-color: #1a1633;
}

.curriculum aside a {
    color: #cc940e;
    text-decoration: none;
}

.curriculum aside a:hover {
    color: #88496590;
}

meter {
    -moz-appearance: none;
    appearance: none;

    width: 50%;
    height: 30px;

    /* For Firefox */
    background: #eee;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
    border-radius: 3px;
}

meter::-webkit-meter-bar {
    background: #eee;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
    border-radius: 3px;
}

meter::-webkit-meter-optimum-value,
meter::-webkit-meter-suboptimum-value,
meter::-webkit-meter-even-less-good-value {
    border-radius: 3px;
}

meter::-webkit-meter-optimum-value {
    background: #86cc00;
}

meter::-webkit-meter-suboptimum-value {
    background: #ffdb1a;
}

meter::-webkit-meter-even-less-good-value {
    background: #cc4600;
}

/* Firefox */
meter::-moz-meter-bar {
    border-radius: 3px;
}

meter:-moz-meter-optimum::-moz-meter-bar {
    background: #86cc00;
}

meter:-moz-meter-sub-optimum::-moz-meter-bar {
    background: #ffdb1a;
}

meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: #cc4600;
}

.intereses {
    list-style-type: square;
    margin: 0 2rem;
    text-align: justify;
    line-height: 1.6rem !important;
}

.intereses li {
    padding-top: 1rem;
}

.aficiones header {
    padding: 0;
    background-image: url(../img/spartan-1751249_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.aficiones article:first-child {
    background-color: rgb(7, 61, 14);
    /* background: linear-gradient(rgba(15, 150, 33, 0.3), rgba(9, 61, 58, 0.5)),
        url(../img/xbox4.jpg) no-repeat;
    background-size: cover; */

    color: #fff;
}

#videojuegos img {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0;
}

.aficiones figure:last-child {
    margin: 0 auto;
    width: 65%;
}
/* Imágen de fondo de la sección fútbol */
.aficiones article:nth-child(3) {
    background-color: green;
    background: linear-gradient(rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0.8)),
        url(../img/europa2.jpg) no-repeat;
    background-size: cover;
    background-position-x: -140px;
    text-align: justify;
}

.aficiones article:nth-child(3) img {
    width: 20%;
    float: left;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
}

.aficiones article:last-child {
    background-color: grey;
    background: linear-gradient(rgba(54, 52, 52, 0.4), rgba(255, 255, 255, 0.3)),
        url(../img/armin.jpg) no-repeat;
    background-size: cover;
    color: #fff;
    clear: both;
}

.series > a,
.peliculas > a {
    display: block;
    background-color: grey;
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
    margin: 1rem 0;
    border-radius: 10px;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 3px 3px #33333390;
}

.series > a:first-child {
    background: radial-gradient(rgba(41, 31, 97, 0.26), rgba(15, 28, 53, 0.158)),
        url(../img/breaking-bad2.jpg) no-repeat;
    background-size: cover;
    background-position: 0 35%;
}

.series > a:nth-child(2) {
    background: radial-gradient(rgba(41, 31, 97, 0.26), rgba(15, 28, 53, 0.158)),
        url(../img/jon-dany.jpg) no-repeat;
    background-size: cover;
    background-position: 0 40%;
}

.series > a:nth-child(3) {
    background: radial-gradient(rgba(41, 31, 97, 0.26), rgba(15, 28, 53, 0.158)),
        url(../img/lost.jpg) no-repeat;
    background-size: cover;
    background-position: 0 50%;
}

.series > a:nth-child(4) {
    background: radial-gradient(rgba(41, 31, 97, 0.26), rgba(15, 28, 53, 0.158)),
        url(../img/califo.jpg) no-repeat;
    background-size: cover;
    background-position: 0 15%;
}

.series > a:nth-child(5) {
    background: radial-gradient(rgba(41, 31, 97, 0.26), rgba(15, 28, 53, 0.158)),
        url(../img/mad-men.jpg) no-repeat;
    background-size: cover;
    background-position: 0 35%;
}

.peliculas > a:first-child {
    background: radial-gradient(rgba(41, 31, 97, 0.26), rgba(15, 28, 53, 0.158)),
        url(../img/interstellar.jpg) no-repeat;
    background-size: cover;
    background-position: 0 15%;
}

.peliculas > a:nth-child(2) {
    background: radial-gradient(rgba(41, 31, 97, 0.26), rgba(15, 28, 53, 0.158)),
        url(../img/john-wick.jpg) no-repeat;
    background-size: cover;
    background-position: 0 70%;
}

.peliculas > a:nth-child(3) {
    background: radial-gradient(rgba(41, 31, 97, 0.26), rgba(15, 28, 53, 0.158)),
        url(../img/avengers-banner2.jpg) no-repeat;
    background-size: cover;
    background-position: 0 50%;
}

.peliculas > a:nth-child(4) {
    background: radial-gradient(rgba(41, 31, 97, 0.26), rgba(15, 28, 53, 0.158)),
        url(../img/star-wars.jpg) no-repeat;
    background-size: cover;
    background-position: 0 15%;
}

.peliculas > a:nth-child(5) {
    background: radial-gradient(rgba(41, 31, 97, 0.26), rgba(15, 28, 53, 0.158)),
        url(../img/aliens.jpg) no-repeat;
    background-size: cover;
    background-position: 0 15%;
}

/* Hovers de series y películas */

.series > a:nth-child(1):hover {
    background: radial-gradient(rgba(105, 136, 214, 0.418),
            transparent,
            rgba(44, 117, 151, 0.452)),
        url(../img/breaking-bad2.jpg) no-repeat;
    background-size: cover;
    background-position: 0 35%;
}

.series > a:nth-child(2):hover {
    background: radial-gradient(rgba(105, 136, 214, 0.418),
            transparent,
            rgba(44, 117, 151, 0.452)),
        url(../img/jon-dany.jpg) no-repeat;
    background-size: cover;
    background-position: 0 40%;
}

.series > a:nth-child(3):hover {
    background: radial-gradient(rgba(105, 136, 214, 0.418),
            transparent,
            rgba(127, 195, 226, 0.452)),
        url(../img/lost.jpg) no-repeat;
    background-size: cover;
    background-position: 0 50%;
}

.series > a:nth-child(4):hover {
    background: radial-gradient(rgba(105, 136, 214, 0.418),
            transparent,
            rgba(44, 117, 151, 0.452)),
        url(../img/califo.jpg) no-repeat;
    background-size: cover;
    background-position: 0 15%;
}

.series > a:nth-child(5):hover {
    background: radial-gradient(rgba(105, 136, 214, 0.418),
            transparent,
            rgba(44, 117, 151, 0.452)),
        url(../img/mad-men.jpg) no-repeat;
    background-size: cover;
    background-position: 0 35%;
}

.peliculas > a:nth-child(1):hover {
    background: radial-gradient(rgba(105, 136, 214, 0.418),
            transparent,
            rgba(44, 117, 151, 0.452)),
        url(../img/interstellar.jpg) no-repeat;
    background-size: cover;
    background-position: 0 15%;
}

.peliculas > a:nth-child(2):hover {
    background: radial-gradient(rgba(105, 136, 214, 0.418),
            transparent,
            rgba(44, 117, 151, 0.452)),
        url(../img/john-wick.jpg) no-repeat;
    background-size: cover;
    background-position: 0 70%;
}

.peliculas > a:nth-child(3):hover {
    background: radial-gradient(rgba(105, 136, 214, 0.418),
            transparent,
            rgba(44, 117, 151, 0.452)),
        url(../img/avengers-banner2.jpg) no-repeat;
    background-size: cover;
    background-position: 0 50%;
}

.peliculas > a:nth-child(4):hover {
    background: radial-gradient(rgba(105, 136, 214, 0.418),
            transparent,
            rgba(44, 117, 151, 0.452)),
        url(../img/star-wars.jpg) no-repeat;
    background-size: cover;
    background-position: 0 15%;
}

.peliculas > a:nth-child(5):hover {
    background: radial-gradient(rgba(105, 136, 214, 0.418),
            transparent,
            rgba(44, 117, 151, 0.452)),
        url(../img/aliens.jpg) no-repeat;
    background-size: cover;
    background-position: 0 15%;
}

iframe {
    opacity: 0.9;
}

.contacto header {
    background-image: url(../img/paper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.contacto section {
    background-color: #14537450;
}

.confirmacion main {
    background-color: #c9b59e73;
    line-height: 2rem;
}
q::before, q::after {
    content: '\201C';
}




/* Banner slider */

.slider {
    width: 100%;
    margin: auto;
    /* height: 250px; */
    overflow: hidden;
    height: 100%;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 15s infinite alternate linear;
}

.slider li {
    width: 100%;
}

.slider img {
    width: 100%;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

/* Formulario */

/* Estilo global del formulario */
fieldset {
    font: 0.9rem sans-serif;
    margin: auto;
    width: 80%;
    border: 1px solid #1f487e;
    height: fit-content;
    height: -moz-fit-content;
    padding: 4%;
}

legend {
    margin-left: 10px;
    font-weight: 600;
    background-color: #376996;
    color: #fff;
    padding: 4px;
    border-radius: 5px;
}

/* Distancia entre elementos */
.form div {
    padding: 0px 5%;
}

/* Formato de las etiquetas */
label {
    display: block;
    font-weight: 600;
    margin-bottom: 15px;
}

/* Cuadros de texto */
input,
textarea {
    display: block;
    border: 1px solid #1f487e;
    width: 100%;
    height: 40px;
    margin-top: 10px;
}

/* Text box only vertically resizable */
textarea {
    min-height: 100px;
    max-height: 400px;
    resize: vertical;
}

/* Formato del texto del placeholder */
[placeholder] {
    padding-left: 10px;
    font-size: 0.78rem;
}

/* Botón */
[type="submit"] {
    background: #1f487e;
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

[type="submit"]:hover {
    background-color: #562038;
    border-radius: 5px;
}

/* Formato del texto del placeholder del textarea */
[placeholder="Escribe tu mensaje"],
[placeholder="Escriu el teu missatge"],
[placeholder="Write your message"] {
    padding-top: 8px;
    font-family: sans-serif;
}

input[type="email"] {
    background-image: url("../img/email.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    background-size: 18%;
}

/* Hover Effect Ideas */

.grid {
    position: relative;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    width: 50%;
    background: #3085a3;
    text-align: center;
    /* cursor: pointer; */
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: -2.8rem 0;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
    font-weight: bold;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

/* Effect Lily */
figure.effect-lily img {
    max-width: none;
    width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);
    opacity: 0.7;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
}

figure.effect-lily figcaption {
    text-align: left;
}

figure.effect-lily figcaption > div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em;
    width: 100%;
    height: 20%;
    /* TODO revisar*/
}

figure.effect-lily h2,
figure.effect-lily p {
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
}

figure.effect-lily h2 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.effect-lily p {
    color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover img,
figure.effect-lily:hover p {
    opacity: 1;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-lily:hover p {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
}

/*-----------------*/
/***** Apollo *****/
/*-----------------*/
.grid .effect-apollo h2 {
    margin: 0;
}

figure.effect-apollo {
    background: #3498db;
    width: 100%;
}

figure.effect-apollo img {
    opacity: 0.95;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
}

figure.effect-apollo figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    content: "";
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
}

figure.effect-apollo p {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 3em;
    padding: 0 1em;
    max-width: 150px;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-apollo h2 {
    text-align: left;
}

figure.effect-apollo:hover img {
    opacity: 0.6;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

figure.effect-apollo:hover figcaption::before {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
}

figure.effect-apollo:hover p {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

/* Media Queries */


@media (max-width: 820px) {
    .es .esp {
        display: none;
    }

    .es .cat {
        position: relative;
        left: -80vw;
    }

    .ca .cat {
        display: none;
    }

    .ca .esp {
        position: relative;
        left: -80vw;
    }

    .en .eng {
        display: none;
    }

    .en .esp {
        position: relative;
        left: -80vw;
    }
}

@media (max-width: 700px) {
    .nav {
        display: none;
    }

    .nav2 {
        display: grid;
    }

    .index h2 {
        /* font-size: 1.5rem !important; */
        text-align: right;
    }

    .index h1 {
        text-align: right;
        font-size: 3rem !important;
    }

    .es .cat {
        position: static;
    }

    .ca .esp {
        position: static;
    }

    .en .esp {
        position: static;
    }

    .grid figure h2,
    .grid figure p {
        margin: -4.2rem 0;
        /*revisar*/
    }

    .index header:hover {
        background-position: 0;
    }
    .curriculum header {
           padding: 60px 50px 50px 50px;
        }
        
    .curriculum h1,
    .curriculum h2 {
        display: block;
        width: 55%;
        margin: 0.1rem 0 0.4rem 60%;
    }

    .curriculum h2 {
        margin: 0rem 0 0 60%;
        font-size: 1rem;
        line-height: 1.2rem;
    }

    #videojuegos iframe {
        width: 290px;
        height: 180px;
    }
}
